/* Header */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #52AA5E;
  padding: 20px;
  width: 100%;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  background: #52AA8A;
}

/* Information Card */
.information-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  gap: 40px;
}

.information-card p {
  font-size: 24px;
  line-height: 1.6;
}

.information-card button {
  padding: 12px 24px;
  background: #388659;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.information-card button:hover {
  background: #52AA8A;
  cursor: pointer;
}

.profile-image {
  width: 260px;
  height: 260px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 0 4px 10px #2BD9FE;
}

/* Footer */
.socials {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  background-color: #52AA5E;
  padding: 20px;
  width: 100%;
}

.socials a {
   text-decoration: none;
   color: #fff;
   padding: 6px 10px;
}

.socials a:hover {
  background: #52AA8A;
}

/* Projects */
.projects {
  padding: 60px 20px;
  background: #f7f9fc;
  text-align: center;
}

.project-grid {
  display: grid;
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.project-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 1.4rem;
}

.project-card p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.tech-used {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.tech {
  background: #e9eef5;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 500;
}

.link a {
  display: inline-block;
  padding: 8px 14px;
  background: #388659;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.link a:hover {
  background: #52AA8A;
}


/* About Section */
.about-container {
  max-width: 750px;
  text-align: center;
  padding: 20px;
}

.about-container h1 {
  font-size: 52px;
  margin-bottom: 8px;
}

.about-container h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-container button {
  padding: 12px 24px;
  background: #388659;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.about-container button:hover {
  background: #52AA8A;
  cursor: pointer;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
  max-width: 650px;
  margin: 0 auto;
}

/* Resume */
.resume {
  max-width: 800px;
  font-family: 'Times New Roman', Times, serif;
}

.skills ul {
  display: flex;
  gap: 10px;
}

.skills li {
  list-style: none;
  background: #eee;
  padding: 6px 12px;
  border-radius: 6px;
}

.edu {
  margin-bottom: 10px;
}

.edu h4 {
  font-weight: 500;
}

.job h4 {
  margin-bottom: 5px;
  font-size: medium;
}

.date {
margin-top: 0px;
}

/* Contact Form */
.contact-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form h2 {
  text-align: center;
}

.contact-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  background: #388659;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.contact-form button:hover {
  background: #52AA8A;
  cursor: pointer;
}
